
.table th,
.table td {
    min-width: 70px;
    /* Đặt độ rộng tối thiểu cho cột */
}

.row-header {
    border: none;
    /* Loại bỏ border cho hàng */
    background-color: #f0f0f0;
    /* Thay đổi màu nền để dễ phân biệt */
    font-weight: bold;
    /* Làm cho văn bản đậm */
}

.row-header td {
    padding: 10px 0;
    /* Tùy chỉnh khoảng cách */
}

.row-header {
    border: none;
    /* Loại bỏ border cho hàng */
    background-color: #f0f0f0;
    /* Thay đổi màu nền để dễ phân biệt */
    font-weight: bold;
    /* Làm cho văn bản đậm */
}

.row-header td {
    padding: 10px 0;
    /* Tùy chỉnh khoảng cách */
}
